@media (max-width: 768px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    padding: 1rem;
    z-index: 999;
    background-color: white;
  }
}

@media (max-width: 768px) {
  .navbar {
    order: 1;
  }
}
@media (max-width: 768px) {
  .navbar-collapse {
    left: 30rem;
  }
}
@media (min-width: 768px) {
  .navbar-collapse {
    left: 30rem;
  }
}
@media (max-width: 400px) {
  .navbar-collapse {
    left: 50%;
    top: 10%;
    background-color: white;
  }
}
@media (min-width: 990px) {
  .my-img {
    height: 75vh;
    padding-top: 8vh;
  }
}



@media (max-width: 768px) {
  .my-img-1 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 768px) {
  .my-col {
    padding-top: 5vh !important;
  }
}
@media (max-width: 768px) {
  .card1 {
    height: auto !important;
    align-self: unset;
  }
}
@media (min-width: 1441px) {
  .card1 {
 height: 100vh !important;
  }
}

@media (max-width: 1000px) {
  .card,
  .card2 {
    height: auto !important;
    width: 100% !important;
    transform: none !important;
    }
}
@media (max-width: 1000px) {
   .card3 {
    margin: auto !important;
    height: auto !important;
    width: 97% !important;
    transform: none !important;
    }
}
.banner {
  border-radius: 30px;
  background-color: #d7d7d7;
}
.banner1 {
  border-radius: 10px;
  background-color: #faf9f9;
  margin: 1%;
  text-align: center;
}

.pt-6 {
  padding-top: 25vh;
}
.pt-7 {
  padding-top: 14vh;
}
.pt-8 {
  padding-top: 16vh;
}
.pb-7 {
  padding-bottom: 8vh;
}
.pe-6 {
  padding-right: 8rem !important;
}
.bor{
  border-radius: 30px;
  background-color: #F8F9FA;
}
.bor2{
  background-color: #F8F9FA;
}
.bor1{
  border-radius: unset;
  border-end-end-radius: 30px;
  border-start-end-radius: 30px;
}
.card {
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 10px rgb(148, 148, 148);
  transition: all 0.3s ease;
}
.card:hover {
  transform: scale(1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1280px) {
  .pt-8{
    padding-top: 8vh !important;
  }
}
@media (max-width: 768px) {
  .pt-8{
    padding-top: 15vh;

  }
}
@media (min-width: 768px) {
  .pt-8{
    padding-top: auto !important;
  }
}
@media (max-width: 767px) {
  .btn {
    padding: 1% !important;
    margin: 2px !important;
  }
}
.btn-black{
  color: white;
  background-color: black;
  width: 40%;
  border: black;
}
@media (max-width: 390px) {
  .fm-control {
    padding: 0 !important;
  }
}
  .fm-control {
    padding-left: 2rem !important;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;  
    background-color:  unset;
    border: var(--bs-border-width) solid black;
    border-start-start-radius: 30px;
    border-end-start-radius: 30px;
  }
.bg-drk{
  background-color: #DCE5E2;
}
.svg-icon {
  background-image: url('/img/up\ arrow.svg');
  background-repeat: no-repeat;
  background-position: right;
  width: 16px;
  height: 16px;
}
